.App {
  /* border: 5px solid red; */
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: #c0c0c0;
  font-family: 'Della Respira', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 1%;
}

.hr2 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
  width: 90%;
}

.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(106, 76, 54), rgba(0, 0, 0, 0));
  width: 70%;
}

.home-container {
  /* border: 5px solid gold; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* letter-spacing: 2px;
  font-size: calc(10px + 2vmin); */
}

nav {
  /* border: 5px solid green; */
  margin: 0.5% 2%;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5%;
}

.navbar-link {
  /* border: 5px solid blue; */
  list-style: none;
  text-decoration: none;
  padding: 0 2%;
  color: #74767e;
}

.navbar-link:visited {
  color: #74767e;
}

.navbar-link.active {
  color: #c0c0c0;
}

.navbar-link:hover {
  color: #c0c0c0;
  /* border-left: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0; */
}

.skyline {
  width: 40vw;
  height: auto;
  border: #000;
  /* border: 5px solid palevioletred; */
}

.quote-container {
  /* border: 3px solid lightcoral; */
  margin: 0 auto;
  text-align: center;
  width: 70vw;
  overflow-x: hidden;
  line-height: 1.5;
}

.quote-start {
  color: #74767e;
}

.season-card {
  /* border: 5px solid yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.season-card-item {
  /* border: 5px solid rebeccapurple; */
  flex-basis: 10%;
  text-align: center;
  padding: 1%;
}

/* .season-card-number {
  border: 5px solid greenyellow;
  padding: 1% 0;
  opacity: 0;
} */

/* .season-card-item:hover .season-card-number {
  opacity: 1.0;
} */

.season-picture {
  border: 5px solid #353535;
  height: calc(150px + 1vmin);

}

.season-picture:hover {
  border: 5px solid #c0c0c0;
}

.episode-picture {
  margin: 0 auto;
  border: 5px solid #353535;
  height: 150px;
}

.episode-picture:hover {
  border: 5px solid #c0c0c0;
}

.episode-card-item {
  /* border: 5px solid yellow; */
  flex-basis: 10%;
  margin: 1rem;

}

.episode-card-title,
.episode-card-number {
  padding: 1% 0;
  font-size: 1rem;
}




.Episodecard-Container {
  display: flex;
  flex-direction: column;
  background-color: #27120b;
  border: 1px solid #6a4c36;
  border-radius: 15px;

  margin: 2%;
  text-align: left;
  padding: 3%;

  line-height: 1.5rem;
  font-size: calc(10px + 1vmin);
  text-transform: none;
  color: #c4b0a9;

  width: 70vw;
  overflow-x: hidden;
}

.Avatar {
  /* border: 1px solid #6a4c36; */
  /* border: 5px solid green; */
  height: 300px;
  padding: 10px 0;
  margin: 2% 0;
}

.episode-title {
  /* border: 3px solid red; */
  background-color: #6a4c36;
  text-transform: uppercase;
  padding: 0.5%;
}

.ShortSummary-Header,
.Guest-Header,
.Caller-Header,
.Scenes-Header {
  background-color: #6a4c36;
  text-transform: uppercase;
  padding: 0.5%;
}

.ShortSummary {
  /* border: 3px solid turquoise; */
  padding: 10px 0;
  margin-bottom: 2%;
}

.GuestAppearance {
  /* border: 3px solid aquamarine; */
  padding: 10px 0;
  margin-bottom: 2%;
}

/* .ShortSummaryWrapper > .ShortSummary {
  display: none;
}
.ShortSummaryWrapper:hover > .ShortSummary {
  display: block;
} */

/* .GuestCallerWrapper > .GuestCaller {
  display: none;
}
.GuestCallerWrapper:hover > .GuestCaller {
  display: block;
} */

.GuestCaller {
  /* border: 3px solid olive; */
  padding: 10px 0;
  margin-bottom: 2%;
}

.Scenes {
  padding: 10px 0;
  margin-bottom: 2%;
}


.allquotes-container {
  /* border: 3px solid lightcoral; */
  margin: 0 auto;
  text-align: left;
  width: 70vw;
  overflow-x: hidden;
  font-size: calc(10px + 1vmin);
  /* line-height: 1.5; */
}


.allquotes-item {
  border: 1px solid #896443;
  /* border: 1px solid #7b5434; */
  /* border: 1px solid #6c4425; */
  margin: 2% 0;
  padding: 0 1%;
  color: #c0c0c0;
  text-transform: none;
}

.allquotes-season {
  /* border: 3px solid greenyellow; */
  color: #6e5345;
}



.titlecards-container {
  /* border: 5px solid yellow; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  width: 70vw;
  overflow-x: hidden;

}

.titlecards-item {
  /* border: 5px solid rebeccapurple; */

  /* padding: 1%; */
  margin: 2%;
}

.titlecards-episodetitle {
  background-color: #6a4c36;
  text-transform: uppercase;
  padding: 0.5%;
  color: #c4b0a9;

}

.titlecard-image {
  border: 3px solid #896443;
  width: 20vw;
  overflow-x: hidden;
  margin: 1%;
}


.guestbook-container {
  /* border: 3px solid gold; */
  text-align: left;
  width: 70vw;
  overflow-x: hidden;
  font-size: calc(10px + 1vmin);
  text-transform: none;
}

.guestbook-headline {
  text-align: center;
  padding: 1% 0;
  margin-top: 5%;
  font-size: calc(20px + 1vmin);
  text-transform: uppercase;
}

ul {
  list-style: none
}

.guestbook-entry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
 
.guestbook-name {
  flex-basis: 15%;
  word-wrap: break-word;
  /* border: 3px solid blue; */
  margin: 1%;
  padding: 1%;
  text-align: right;
}

.guestbook-message {
  flex-basis: 70%;
  word-wrap: break-word;
  padding: 1%;
  margin: 1%;
  /* border: 3px solid violet; */
}

.guestbook-form {
  margin-top: 5%;
  border: 2px solid #896443;
  text-align: center;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.guestbook-form-thanks {
  margin-top: 5%;
  /* border: 2px solid #896443; */
  text-align: center;
  padding: 2%;
  text-transform: uppercase;
}

.guestbook-form label {
  margin-bottom: 10px;
  /* border: 5px solid orange; */
}

.guestbook-form input {
  /* border: 5px solid purple; */
  padding: 10px 8%;
  margin: 0 2%;
  background-color: #c4b0a9;
}

.guestbook-form textarea {
  /* border: 5px solid palegreen; */
  margin: 0 2%;
  padding: 10px 5%;
  background-color: #c4b0a9;
}

.guestbook-form-submit {
  background-color: #c4b0a9 ;
  /* color: white; */
  border: 1px solid #6a4c36;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Della Respira', serif;
  /* font-size: 16px; */
  font-size: calc(10px + 1vmin);
  margin: 2% ;
  cursor: pointer;
}

.guestbook-form-submit:hover {
  background-color: #6a4c36 ;
  color: #c4b0a9;
}
